html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

@font-face {
    font-family: 'Coolvetica';
    src: url('coolvetica\ rg.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.ttf');
}


body {
    width: 100%;
    background: url(BG-black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    font-family: Montserrat;
}

.my_head{
    width: 100%;
    height: 76vh;
    color: white;
    position: relative;
}

/* Topo do head */
.flex {
    position: absolute;
    display: flex;

}

.social{
    top: 2%;
    justify-content: center;
    right: 0;
    width: 20%;   
}

.image_contact {
    margin-left: 15px;
    margin-right: 15px;
}

.images{
    width: 30px;
    height: 30px;
}

/* Fim do head */
.info{
    width: 80%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 20%;
}

.title{
    font-family: 'Roboto';
    font-size: 20px;

}

.name{
    font-family: 'Coolvetica';
    font-size: 80px;

}

.container{
    margin: 0 auto
}

/* Rodapé */

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 24vh;
    color: black;
    background-color: white;
    font-family: "Roboto";
}

.menu {
    width: 100vw;
    position:absolute;
    bottom: 30%;
}

.menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
}

.menu ul li{
    display: inline-block;
    margin-left: 10vw;
    margin-right: 10vw;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.menu ul li:hover a {
    font-weight: bold;
    background:linear-gradient(white 60%, #ffd868 40%, #ffd868);
}


